.section {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  gap: 16px;
  position: absolute;
  bottom: 0;
  padding-bottom: 16px;
}
.section div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 16px 0;
  backdrop-filter: blur(6px);
  box-shadow: 1px 1px 6px 2px var(--color-gray-500);
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}
.section div svg {
  filter: invert(1);
  -webkit-filter: invert(1);
  width: 24px;
  height: 24px;
}
.path path {
  stroke-width: 3;
}
.button {
  background-color: var(--color-primary);
  color: var(--color-gray-100);
  padding: 8px 12px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  font-weight: 800;
  font-size: 1rem;
  border: 6px double var(--color-gray-100);
}
