.section {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 0;
  padding-bottom: 16px;
  max-width: 700px;
}
.section div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 8px 0;
  backdrop-filter: blur(6px);
  box-shadow: 1px 1px 6px 2px var(--color-gray-500);
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  flex-wrap: wrap;
  gap: 8px;
}
.section div h3 {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gray-100);
  filter: drop-shadow(2px 4px 6px black);
  text-shadow: 2px 2px 2px black;
}
.section div h4 {
  color: var(--color-gray-100);
  text-align: center;
  margin-bottom: 8px;
}
.section div svg {
  filter: invert(1);
  -webkit-filter: invert(1);
  width: 24px;
  height: 24px;
}
.path path {
  stroke-width: 3;
}
.button {
  background-color: var(--color-primary);
  color: var(--color-gray-100);
  padding: 8px 12px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  font-weight: 800;
  font-size: 1rem;
  border: 6px double var(--color-gray-100);
}
.price {
  position: absolute;
  bottom: 70px;
  right: 0;
  padding: 8px 12px;
  background-color: var(--color-primary-100);
  text-align: end;
  animation: openPrice 0.5s ease;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  box-shadow: -2px -2px 4px 4px var(--color-gray-500);
  -webkit-animation: openPrice 0.5s ease;
}
.price p {
  color: var(--color-gray-100);
}
.priceSvg {
  cursor: pointer;
}
@keyframes openPrice {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 400px) {
  .section {
    position: relative;
  }
  .section div h3 {
    font-size: 18px;
  }
}
