:root {
  --color-primary: #c72931;
  --color-primary-100: #f4583d;
  --color-gray-500: #283035;
  --color-gray-400: #303a40;
  --color-gray-300: #354249;
  --color-gray-200: #1b353c;

  --color-gray-100: #efefef;
}
* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  padding: 16px;
  background-color: var(--color-gray-500);
}

button {
  cursor: pointer;
  border: none;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}
